<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.AllowedServerMapper">
    <select id="getAllowedServerByIpv4" resultType="AllowedServer">
        select *
        from allowed_server
        where svr_ip = #{ipv4Address}
    </select>

    <insert id="insertAllowedServer">
        insert into allowed_server (svr_ip, tnnt_id, svr_nm, svc_nm)
        value (#{allowedServer.serverIp}, #{allowedServer.tenantId}, #{allowedServer.serverName}, #{allowedServer.serviceName})
    </insert>

    <update id="updateAllowedServer">
        update allowed_server
        set svr_ip = #{allowedServer.serverIp}, tnnt_id = #{allowedServer.tenantId},
            svr_nm = #{allowedServer.serverName}, svc_nm = #{allowedServer.serviceName})
        where svr_ip = #{originalIp}
    </update>

    <delete id="deleteAllowedServer">
        delete from allowed_server
        where svr_ip = #{allowedServer.serverIp}
    </delete>

    <select id="getRegExpServerList" resultType="AllowedServer">
        select *
        from allowed_server
        where svr_ip like '^%'
    </select>
</mapper>
