<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.AuthorityMapper">

    <select id="selectTenantAuthorities" resultType="Authority">
        SELECT
            *
        FROM
            cfl_authority
        WHERE
            svc_nm = #{authority.serviceName}
            AND tnnt_id = #{authority.tenantId}
    </select>

    <select id="selectAuthority" resultType="Authority">
        SELECT
            *
        FROM
            cfl_authority
        WHERE
            svc_nm = #{authority.serviceName}
            AND tnnt_id = #{authority.tenantId}
            AND auth_id = #{authority.authorityId}
    </select>

    <insert id="insertAuthority" useGeneratedKeys="true" keyProperty="authoritySequence">
        INSERT INTO
            cfl_authority (auth_id, auth_nm, auth_type, tnnt_id, svc_nm)
        VALUE
            (#{authority.authorityId}
            , #{authority.authorityName}
            , #{authority.authorityType}
            , #{authority.tenantId}
            , #{authority.serviceName})
    </insert>

    <update id="updateAuthority">
        UPDATE
            cfl_authority
        SET
            auth_id = #{authority.authorityId}
            , tnnt_id = #{authority.tenantId}
            , auth_nm = #{authority.authorityName}
            , svc_nm = #{authority.serviceName})
            , auth_type = #{authority.authorityType}
        WHERE
            auth_seq = #{authority.authoritySequence}
    </update>

    <delete id="deleteAuthority">
        DELETE FROM
            cfl_authority
        WHERE
            auth_seq = #{authority.authoritySequence}
    </delete>

</mapper>

