<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.AuthorityMapper">

    <resultMap id="Authority" type="Authority">
        <id property="authoritySequence" column="auth_seq" />
        <result property="authorityId" column="auth_id"/>
        <result property="authorityName" column="auth_nm"/>
        <result property="authorityType" column="auth_type"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
    </resultMap>

    <select id="selectTenantAuthorities" resultMap="Authority">
        SELECT
            *
        FROM
            cfl_authority
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
    </select>

    <select id="selectAuthority" resultMap="Authority">
        SELECT
            *
        FROM
            cfl_authority
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
            AND auth_id = #{authorityId}
    </select>

    <insert id="insertAuthority">
        INSERT INTO
            cfl_authority (auth_id, auth_nm, auth_type, tnnt_id, svc_nm)
        VALUE
            (#{authorityId}
            , #{authorityName}
            , #{authorityType}
            , #{tenantId}
            , #{serviceName})
    </insert>

    <update id="updateAuthority">
        UPDATE
            cfl_authority
        SET
            auth_id = #{authorityId}
            , tnnt_id = #{tenantId}
            , auth_nm = #{authorityName}
            , svc_nm = #{serviceName}
            , auth_type = #{authorityType}
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
            AND auth_id = #{authorityId}
    </update>

    <delete id="deleteAuthority">
        DELETE FROM
            cfl_authority
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
            AND auth_id = #{authorityId}
    </delete>

</mapper>

