<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.AuthorityMapper">

    <resultMap id="Authority" type="Authority">
        <id property="authoritySequence" column="auth_seq" />
        <result property="authorityId" column="auth_id"/>
        <result property="authorityName" column="auth_nm"/>
        <result property="authorityType" column="auth_type"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
    </resultMap>

    <select id="selectAllAuthorities" resultMap="Authority">
        SELECT
            *
        FROM
            cfl_authority
    </select>

    <select id="selectServiceAuthorities" resultMap="Authority">
        SELECT
            *
        FROM
            cfl_authority
        WHERE
            svc_nm = #{serviceName}
    </select>

    <select id="selectTenantAuthorities" resultMap="Authority">
        SELECT
            *
        FROM
            cfl_authority
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
    </select>

    <select id="selectAuthority" resultMap="Authority">
        SELECT
            *
        FROM
            cfl_authority
        WHERE
            svc_nm = #{authority.serviceName}
            AND tnnt_id = #{authority.tenantId}
            AND auth_id = #{authority.authorityId}
    </select>

    <insert id="insertAuthority" useGeneratedKeys="true" keyProperty="authoritySequence">
        INSERT INTO
            cfl_authority (auth_id, auth_nm, auth_type, tnnt_id, svc_nm)
        VALUE
            (#{authority.authorityId}
            , #{authority.authorityName}
            , #{authority.authorityType}
            , #{authority.tenantId}
            , #{authority.serviceName})
    </insert>

    <update id="updateAuthority">
        UPDATE
            cfl_authority
        SET
            auth_id = #{authority.authorityId}
            , tnnt_id = #{authority.tenantId}
            , auth_nm = #{authority.authorityName}
            , svc_nm = #{authority.serviceName}
            , auth_type = #{authority.authorityType}
        WHERE
            svc_nm = #{authority.serviceName}
            AND tnnt_id = #{authority.tenantId}
            AND auth_id = #{authority.authorityId}
    </update>

    <delete id="deleteAuthority">
        DELETE FROM
            cfl_authority
        WHERE
            svc_nm = #{authority.serviceName}
            AND tnnt_id = #{authority.tenantId}
            AND auth_id = #{authority.authorityId}
    </delete>
</mapper>
