<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.CflObjectMapper">

    <select id="selectTenantObjects" resultType="CflObject">
        SELECT
            *
        FROM
            cfl_object
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
    </select>

    <select id="selectServiceObjects" resultType="CflObject">
        SELECT
            *
        FROM
            cfl_object
        WHERE
            svc_nm = #{serviceName}
    </select>

    <select id="selectAllObjects" resultType="CflObject">
        SELECT
            *
        FROM
            cfl_object
    </select>

    <select id="selectObject" resultType="CflObject">
        SELECT
            *
        FROM
            cfl_object
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
            AND objt_id = #{objectId}
    </select>

    <insert id="insertObject">
        INSERT INTO
            cfl_object (objt_id, objt_nm, tnnt_id, svc_nm)
        VALUE
            (#{objectId}
            , #{objectName}
            , #{tenantId}
            , #{serviceName})
    </insert>

    <update id="updateObject">
        UPDATE
            cfl_object
        SET
            objt_id = #{objectId}
            , tnnt_id = #{tenantId}
            , objt_nm = #{objectName}
            , svc_nm = #{serviceName})
        WHERE
            objt_seq = #{objectSequence}
    </update>

    <delete id="deleteObject">
        DELETE FROM
            cfl_object
        WHERE
            objt_seq = #{objectSequence}
    </delete>

</mapper>