<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.CodeMapper">

    <resultMap id="Code" type="Code">
        <id property="codeSequence" column="cd_seq"/>
        <result property="codeId" column="cd_id" />
        <result property="codeName" column="cd_nm"/>
        <result property="codeDescription" column="cd_desc"/>
        <result property="isUsed" column="use_yn"/>
        <result property="order" column="ord"/>
        <result property="multiLanguageCode" column="mlng_cd"/>
        <result property="optionCode" column="opt_cd"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
    </resultMap>

    <insert id="insertCode" parameterType="Code" useGeneratedKeys="true" keyProperty="code.codeSequence" keyColumn="cd_seq">
        INSERT INTO
            cfl_code (cd_id, cd_nm, cd_desc, use_yn, ord, mlng_cd, tnnt_id, svc_nm)
        VALUE
            (#{code.codeId}
            , #{code.codeName}
            , #{code.codeDescription}
            , #{code.isUsed}
            , #{code.order}
            , #{code.multiLanguageCode}
            , #{code.tenantId}
            , #{code.serviceName})
    </insert>

    <insert id="insertCodeMultiLanguage">
        INSERT INTO
            cfl_code_multilanguage (mlng_cd, mlng_nat, mlng_nm)
        VALUES
        <foreach index="key"  item="value" collection="multiLanguageMap" separator=",">
            (#{multiLanguageCode}, #{key}, #{value})
        </foreach>
    </insert>
    
    <insert id="insertCodeTree">
        INSERT INTO
            cfl_code_tree (tre_id, root_cd_seq)
        VALUES
            (#{treeId}, #{rootCodeSequence})
    </insert>

    <update id="updateCode">
        UPDATE
            cfl_code
        SET
            cd_nm = #{code.codeName}
            , cd_desc = #{code.codeDescription}
            , use_yn = #{code.isUsed}
            , ord = #{code.order}
            , mlng_cd = #{code.multiLanguageCode}
            , tnnt_id = #{code.tenantId}
            , svc_nm = #{code.serviceName}
        WHERE
            cd_seq = #{code.codeSequence}
            AND svc_nm = #{code.serviceName}
            AND tnnt_id = #{code.tenantId}
    </update>

    <delete id="deleteCode">
        DELETE FROM
            cfl_code
        WHERE
            cd_seq = #{code.codeSequence}
            AND svc_nm = #{code.serviceName}
            AND tnnt_id = #{code.tenantId}
    </delete>

    <delete id="deleteCodeMultiLanguage">
        DELETE FROM
            cfl_code_multilanguage
        WHERE
            mlng_cd = #{multiLanguageCode}
    </delete>

    <select id="selectCode" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code
        WHERE
            cd_seq = #{code.codeSequence}
            AND svc_nm = #{code.serviceName}
            AND tnnt_id = #{code.tenantId}
    </select>

    <select id="selectAllCodes" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code
    </select>

    <select id="selectServiceCodes" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code
        WHERE
            svc_nm = #{serviceName}
    </select>

    <select id="selectTenantCodes" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
    </select>

    <select id="selectCodeMultiLanguageMapList" resultType="Map">
        SELECT
            cd.cd_seq AS codeSequence
            , cdml.mlng_nat AS nation
            , cdml.mlng_nm AS multiLanguageName
        FROM
            cfl_code cd
            INNER JOIN
                cfl_code_multilanguage cdml
            ON
                cd.mlng_cd = cdml.mlng_cd
        WHERE
	        cd.svc_nm = #{serviceName}
	        AND cd.tnnt_id = #{tenantId}
    </select>

</mapper>
