<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.CodeMapper">

    <select id="selectCode" resultType="Code">
        SELECT
            *
        FROM
            cfl_code
        WHERE
            cd_id = #{code.codeId}
            AND svc_nm = #{code.serviceName}
            AND tnnt_id = #{code.tenantId}
    </select>

    <insert id="insertCode">
        INSERT INTO
            cfl_code (cd_id, mlngcd, prnt_cd_id, tnnt_id, cd_desc, use_yn, sort_ord, cd_nm, svc_nm)
        VALUE
            (#{code.codeId}
            , #{code.multiLanguageCode}
            , #{code.parentCodeId}
            , #{code.tenantId}
            , #{code.codeDescription}
            , #{code.isUsed}
            , #{code.sortOrder}
            , #{code.codeName}
            , #{code.serviceName})
    </insert>

    <update id="updateCode">
        UPDATE
            cfl_code
        SET
            cd_id = #{code.codeId}
            , mlng_cd = #{code.multiLanguageCode}
            , prnt_cd_id = #{code.parentCodeId}
            , tnnt_id = #{code.tenantId}
            , cd_desc = #{code.codeDescription}
            , use_yn = #{code.isUsed}
            , sort_ord = #{code.sortOrder}
            , cd_nm = #{code.codeName}
            , svc_nm = #{code.serviceName}
    </update>

    <delete id="deleteCode">
        DELETE FROM
            cfl_code
        WHERE
            cd_id = #{code.codeId}
            AND svc_name = #{code.serviceName}
            AND tnnt_id = #{code.tenantId}
    </delete>

</mapper>

