<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.CodeMapper">

    <select id="selectCode" resultType="Code">
        SELECT
            *
        FROM
            cfl_code
        WHERE
            cd_id = #{codeId}
            AND svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
    </select>

    <insert id="insertCode">
        INSERT INTO
            cfl_code (cd_id, mlngcd, prnt_cd_id, tnnt_id, cd_desc, use_yn, sort_ord, cd_nm, svc_nm)
        VALUE
            (#{codeId}
            , #{multiLanguageCode}
            , #{parentCodeId}
            , #{tenantId}
            , #{codeDescription}
            , #{isUsed}
            , #{sortOrder}
            , #{codeName}
            , #{serviceName})
    </insert>

    <update id="updateCode">
        UPDATE
            cfl_code
        SET
            cd_id = #{codeId}
            , mlng_cd = #{multiLanguageCode}
            , prnt_cd_id = #{parentCodeId}
            , tnnt_id = #{tenantId}
            , cd_desc = #{codeDescription}
            , use_yn = #{isUsed}
            , sort_ord = #{sortOrder}
            , cd_nm = #{codeName}
            , svc_nm = #{serviceName}
    </update>

    <delete id="deleteCode">
        DELETE FROM
            cfl_code
        WHERE
            cd_id = #{codeId}
            AND svc_name = #{serviceName}
            AND tnnt_id = #{tenantId}
    </delete>

</mapper>

