<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.HistoryMapper">

    <resultMap id="History" type="History">
        <id property="historyId" column="hist_id" />
        <result property="requestContents" column="req_cont"/>
        <result property="returnMessage" column="rtrn_msg"/>
        <result property="actionDateTime" column="actn_ymdt"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
        <result property="registerServerIp" column="regr_svr_ip"/>
    </resultMap>

    <insert id="insertHistory">
        INSERT INTO
            cfl_history (req_cont, rtrn_msg, actn_ymdt, tnnt_id, svc_nm, regr_svr_ip, req_metd, req_url)
        VALUE
            (#{requestContents}
            , #{returnMessage}
            , CURRENT_TIMESTAMP()
            , #{tenantId}
            , #{serviceName}
            , #{registerServerIp}
            , #{requestMethod}
            , #{requestUrl})
    </insert>

</mapper>

