<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.HistoryMapper">

    <resultMap id="History" type="History">
        <id property="historyId" column="hist_id" />
        <result property="serviceName" column="svc_nm"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="actionDateTime" column="actn_ymdt"/>
        <result property="requestMethod" column="req_metd"/>
        <result property="requestUrl" column="req_url"/>
        <result property="requestContents" column="req_cont"/>
        <result property="returnMessage" column="rtrn_msg"/>
        <result property="returnContents" column="rtrn_cont"/>
        <result property="register" column="regr"/>
        <result property="registerServerIp" column="regr_svr_ip"/>
    </resultMap>

    <insert id="insertHistory">
        INSERT INTO
            cfl_history (svc_nm, tnnt_id, actn_ymdt, req_metd, req_url, req_cont, rtrn_msg, rtrn_cont, reqr, regr_svr_ip)
        VALUE
            (#{serviceName}
            , #{tenantId}
            , CURRENT_TIMESTAMP()
            , #{requestMethod}
            , #{requestUrl}
            , #{requestContents}
            , #{returnMessage}
            , #{returnContents}
            , #{requestPerson}
            , #{registerServerIp})
    </insert>

</mapper>

