<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfl.mapper.MappingMapper">

    <resultMap id="Authority" type="Authority">
        <id property="authoritySequence" column="auth_seq" />
        <result property="authorityId" column="auth_id"/>
        <result property="authorityName" column="auth_nm"/>
        <result property="authorityType" column="auth_type"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
    </resultMap>

    <resultMap id="User" type="User">
        <id property="userSequence" column="user_seq" />
        <result property="userId" column="user_id"/>
        <result property="userType" column="user_type"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
    </resultMap>

    <resultMap id="Code" type="Code">
        <id property="codeSequence" column="cd_seq"/>
        <result property="codeId" column="cd_id" />
        <result property="codeName" column="cd_nm"/>
        <result property="codeDescription" column="cd_desc"/>
        <result property="isUsed" column="use_yn"/>
        <result property="order" column="ord"/>
        <result property="multiLanguageCode" column="mlng_cd"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
    </resultMap>

    <select id="selectObjectIdAndSubObjectIdMapList" resultType="Map">
        SELECT
	        ob.objt_id AS objectId
	        ,sob.objt_id AS subObjectId
        FROM
            cfl_object ob
            INNER JOIN
                cfl_object_subobject_mapping sobm
            ON
                ob.objt_seq = sobm.objt_seq
            INNER JOIN
                cfl_object sob
            ON
                sobm.sub_objt_seq = sob.objt_seq
        WHERE
            ob.svc_nm = #{serviceName}
	        AND ob.tnnt_id = #{tenantId}
	    ORDER BY
	    	sob.objt_id
    </select>

    <select id="selectObjectIdAndAuthorityMapList" resultType="Map">
        SELECT
	        ob.objt_id AS objectId
	        , auth.auth_seq AS authoritySequence
	        , auth.auth_id AS authorityId
	        , auth.auth_nm AS authorityName
	        , auth.auth_type AS authorityType
	        , auth.tnnt_id AS tenantId
	        , auth.svc_nm AS serviceName
        FROM
            cfl_object ob
            INNER JOIN
                cfl_object_authority_mapping authm
            ON
                ob.objt_seq = authm.objt_seq
            INNER JOIN
                cfl_authority auth
            ON
                auth.auth_seq = authm.auth_seq
        WHERE
            ob.svc_nm = #{serviceName}
	        AND ob.tnnt_id = #{tenantId}
	    ORDER BY
	    	auth.auth_nm
    </select>

    <select id="selectAuthorityIdAndUserMapList" resultType="Map">
        SELECT
            auth.auth_id AS authorityId
            , user.user_seq AS userSequence
            , user.user_id AS userId
            , user.user_type AS userType
            , user.tnnt_id AS tenantId
            , user.svc_nm AS serviceName
        FROM
            cfl_authority auth
            INNER JOIN
                cfl_authority_user_mapping aum
            ON
                auth.auth_seq = aum.auth_seq
            INNER JOIN
                cfl_user user
            ON
                user.user_seq = aum.user_seq
        WHERE
            auth.svc_nm = #{serviceName}
            AND auth.tnnt_id = #{tenantId}
        ORDER BY
            user.user_id
    </select>

    <select id="isExistObjectAuthorityMapping" resultType="boolean">
        SELECT
	        if(count(*) > 0, 'true', 'false')
        FROM
            cfl_authority auth
            INNER JOIN
                cfl_object_authority_mapping oam
            ON
                auth.auth_seq = oam.auth_seq
            INNER JOIN
                cfl_object ob
            ON
                oam.objt_seq = ob.objt_seq
        WHERE
           ob.objt_id = #{objectId}
           AND auth.auth_id = #{authority.authorityId}
           AND ob.tnnt_id = #{authority.tenantId}
           AND ob.svc_nm = #{authority.serviceName}
           AND auth.tnnt_id = #{authority.tenantId}
           AND auth.svc_nm = #{authority.serviceName}
    </select>

    <insert id="insertObjectAuthority">
        INSERT INTO
            cfl_object_authority_mapping (objt_seq, auth_seq)
        VALUES(
            (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{authority.serviceName}
                AND tnnt_id = #{authority.tenantId}
                AND objt_id =#{objectId})
            ,
            (SELECT
                auth_seq
            FROM
                cfl_authority
            WHERE
                svc_nm = #{authority.serviceName}
                AND tnnt_id = #{authority.tenantId}
                AND auth_id = #{authority.authorityId})
            )
    </insert>

    <delete id="deleteObjectAuthority">
        DELETE FROM
            cfl_object_authority_mapping
        WHERE
            objt_seq = (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{authority.serviceName}
                AND tnnt_id = #{authority.tenantId}
                AND objt_id =#{objectId})
            AND
            auth_seq = (SELECT
                auth_seq
            FROM
                cfl_authority
            WHERE
                svc_nm = #{authority.serviceName}
                AND tnnt_id = #{authority.tenantId}
                AND auth_id = #{authority.authorityId})
    </delete>

    <delete id="deleteObjectAuthorityMapping">
        DELETE FROM
            cfl_object_authority_mapping
        WHERE
            objt_seq = (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{object.serviceName}
                AND tnnt_id = #{object.tenantId}
                AND objt_id =#{object.objectId})
    </delete>

    <delete id="deleteObjectSubObjectMapping">
        DELETE FROM
            cfl_object_subobject_mapping
        WHERE
            objt_seq = (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{object.serviceName}
                AND tnnt_id = #{object.tenantId}
                AND objt_id =#{object.objectId})
            OR
            sub_objt_seq = (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{object.serviceName}
                AND tnnt_id = #{object.tenantId}
                AND objt_id =#{object.objectId})
    </delete>

    <select id="isExistAuthorityUserMapping" resultType="boolean">
        SELECT
	        if(count(*) > 0, 'true', 'false')
        FROM
            cfl_user user
            INNER JOIN
                cfl_authority_user_mapping authm
            ON
                user.user_seq = authm.user_seq
            INNER JOIN
                cfl_authority auth
            ON
                authm.auth_seq = auth.auth_seq
        WHERE
           auth.auth_id = #{authorityId}
           AND user.user_id = #{user.userId}
           AND auth.tnnt_id = #{user.tenantId}
           AND auth.svc_nm = #{user.serviceName}
           AND user.tnnt_id = #{user.tenantId}
           AND user.svc_nm = #{user.serviceName}
    </select>

    <insert id="insertAuthorityUser">
        INSERT INTO
            cfl_authority_user_mapping (auth_seq, user_seq)
        VALUES(
            (SELECT
                auth_seq
            FROM
                cfl_authority
            WHERE
                svc_nm = #{user.serviceName}
                AND tnnt_id = #{user.tenantId}
                AND auth_id = #{authorityId})
            ,
            (SELECT
                user_seq
            FROM
                cfl_user
            WHERE
                svc_nm = #{user.serviceName}
                AND tnnt_id = #{user.tenantId}
                AND user_id =#{user.userId})
            )
    </insert>

    <delete id="deleteAuthorityUser">
        DELETE FROM
            cfl_authority_user_mapping
        WHERE
            auth_seq = (SELECT
                auth_seq
            FROM
                cfl_authority
            WHERE
                svc_nm = #{user.serviceName}
                AND tnnt_id = #{user.tenantId}
                AND auth_id = #{authorityId})
            AND
            user_seq = (SELECT
                user_seq
            FROM
                cfl_user
            WHERE
                svc_nm = #{user.serviceName}
                AND tnnt_id = #{user.tenantId}
                AND user_id =#{user.userId})
    </delete>

    <delete id="deleteAuthorityMapping">
        DELETE FROM
            cfl_authority_user_mapping
        WHERE
            auth_seq = (SELECT
                auth_seq
            FROM
                cfl_authority
            WHERE
                svc_nm = #{authority.serviceName}
                AND tnnt_id = #{authority.tenantId}
                AND auth_id = #{authority.authorityId})
    </delete>

    <select id="selectObjectAuthorities" resultMap="Authority">
        SELECT
	        auth.*
        FROM
            cfl_object ob
            INNER JOIN
                cfl_object_authority_mapping authm
            ON
                ob.objt_seq = authm.objt_seq
            INNER JOIN
                cfl_authority auth
            ON
                authm.auth_seq = auth.auth_seq
        WHERE
            ob.svc_nm = #{object.serviceName}
	        AND ob.tnnt_id = #{object.tenantId}
	        AND ob.objt_id = #{object.objectId}
    </select>

    <select id="selectAuthorityUsers" resultMap="User">
        SELECT
	        user.*
        FROM
            cfl_user user
            INNER JOIN
                cfl_authority_user_mapping authm
            ON
                user.user_seq = authm.user_seq
            INNER JOIN
                cfl_authority auth
            ON
                authm.auth_seq = auth.auth_seq
        WHERE
            auth.svc_nm = #{authority.serviceName}
	        AND auth.tnnt_id = #{authority.tenantId}
	        AND auth.auth_id = #{authority.authorityId}
    </select>

    <select id="selectUserAuthorities" resultMap="Authority">
        SELECT
	        auth.*
        FROM
            cfl_user user
            INNER JOIN
                cfl_authority_user_mapping authm
            ON
                user.user_seq = authm.user_seq
            INNER JOIN
                cfl_authority auth
            ON
                authm.auth_seq = auth.auth_seq
        WHERE
            user.svc_nm = #{user.serviceName}
	        AND user.tnnt_id = #{user.tenantId}
	        AND user.user_id = #{user.userId}
	    ORDER BY
	        auth.auth_nm
    </select>

    <insert id="createCodeSequenceAndSubCodeSequenceMapping">
        INSERT INTO
            cfl_code_subcode_mapping(
                cd_seq
                , sub_cd_seq
            )
        VALUES
            (
                #{codeSequence}
                , #{subCodeSequence}
            )

    </insert>

    <select id="selectTopLevelCodes" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code cd
        WHERE
            cd.svc_nm = #{serviceName}
	        AND cd.tnnt_id = #{tenantId}
            AND NOT EXISTS (
					SELECT *
					FROM cfl_code_subcode_mapping scdm
                    WHERE cd.cd_seq = scdm.sub_cd_seq
                    )
    </select>

    <select id="selectUsingTopLevelCodes" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code cd
        WHERE
            cd.svc_nm = #{serviceName}
	        AND cd.tnnt_id = #{tenantId}
	        AND cd.use_yn = '1'
            AND NOT EXISTS (
					SELECT *
					FROM cfl_code_subcode_mapping scdm
                    WHERE cd.cd_seq = scdm.sub_cd_seq
                    )
    </select>

    <select id="selectLowLevelCodes" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code cd
            INNER JOIN
                cfl_code_subcode_mapping scdm
            ON
                cd.cd_seq = scdm.sub_cd_seq
        WHERE
            cd.svc_nm = #{serviceName}
	        AND cd.tnnt_id = #{tenantId}
	        AND scdm.cd_seq = #{codeSequence}
	    ORDER BY
	        cd.ord ASC
    </select>

    <select id="selectUsingLowLevelCodes" resultMap="Code">
        SELECT
            *
        FROM
            cfl_code cd
            INNER JOIN
                cfl_code_subcode_mapping scdm
            ON
                cd.cd_seq = scdm.sub_cd_seq
        WHERE
            cd.svc_nm = #{serviceName}
            AND cd.use_yn = '1'
	        AND cd.tnnt_id = #{tenantId}
	        AND scdm.cd_seq = #{codeSequence}
	    ORDER BY
	        cd.ord ASC
    </select>

    <select id="isExistObjectSubObjectMapping" resultType="boolean">
        SELECT
	        if(count(*) > 0, 'true', 'false')
        FROM
            cfl_object subob
            INNER JOIN
                cfl_object_subobject_mapping osom
            ON
                subob.objt_seq = osom.sub_objt_seq
            INNER JOIN
                cfl_object ob
            ON
                osom.objt_seq = ob.objt_seq
        WHERE
           ob.objt_id = #{objectId}
           AND subob.objt_id = #{subObject.objectId}
           AND ob.tnnt_id = #{subObject.tenantId}
           AND ob.svc_nm = #{subObject.serviceName}
           AND subob.tnnt_id = #{subObject.tenantId}
           AND subob.svc_nm = #{subObject.serviceName}
    </select>

    <insert id="insertObjectSubObject">
        INSERT INTO
            cfl_object_subobject_mapping (objt_seq, sub_objt_seq)
        VALUES(
            (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{subObject.serviceName}
                AND tnnt_id = #{subObject.tenantId}
                AND objt_id =#{objectId})
            ,
            (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{subObject.serviceName}
                AND tnnt_id = #{subObject.tenantId}
                AND objt_id = #{subObject.objectId})
            )
    </insert>

    <delete id="deleteObjectSubObject">
        DELETE FROM
            cfl_object_subobject_mapping
        WHERE
            objt_seq = (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{subObject.serviceName}
                AND tnnt_id = #{subObject.tenantId}
                AND objt_id =#{objectId})
            AND
            sub_objt_seq = (SELECT
                objt_seq
            FROM
                cfl_object
            WHERE
                svc_nm = #{subObject.serviceName}
                AND tnnt_id = #{subObject.tenantId}
                AND objt_id = #{subObject.objectId})
    </delete>

    <select id="selectTenantSubObjectIdList" resultType="String">
        SELECT DISTINCT ob.objt_id
        FROM
            cfl_object_subobject_mapping osom
            INNER JOIN
                cfl_object ob
            ON
                osom.sub_objt_seq = ob.objt_seq
        WHERE
            ob.tnnt_id = #{tenantId}
            AND svc_nm = #{serviceName}
    </select>

    <select id="selectTenantParentObjectIdList" resultType="String">
        SELECT DISTINCT ob.objt_id
        FROM
            cfl_object_subobject_mapping osom
            INNER JOIN
                cfl_object ob
            ON
                osom.objt_seq = ob.objt_seq
        WHERE
            ob.tnnt_id = #{tenantId}
            AND svc_nm = #{serviceName}
    </select>
</mapper>