<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.ServerMapper">

    <resultMap id="Server" type="Server">
        <id property="serverIp" column="svr_ip" />
        <result property="serverName" column="svr_nm"/>
        <result property="serviceName" column="svc_nm"/>
        <result property="tenantId" column="tnnt_id"/>
    </resultMap>

    <select id="selectAllowedServer" resultMap="Server">
        SELECT
            *
        FROM
            cfl_allowed_server
        WHERE 
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
            AND svr_ip = #{serverIp}
    </select>

    <select id="selectProvideServer" resultMap="Server">
        SELECT
            *
        FROM
            cfl_provide_server
        WHERE
            svr_ip = #{serverIp}
    </select>

    <select id="selectAllProvideServerIp" resultType="String">
        SELECT
            svr_ip
        FROM
            cfl_provide_server
    </select>

    <insert id="insertAllowedServer">
        INSERT INTO
            cfl_allowed_server (svr_ip, tnnt_id, svr_nm, svc_nm)
        VALUE
            (#{serverIp}
            , #{tenantId}
            , #{serverName}
            , #{serviceName})
    </insert>

    <insert id="insertProvideServer">
        INSERT INTO
            cfl_provide_server (svr_ip, svr_nm)
        VALUE
            (#{serverIp}
            , #{serverName})
    </insert>

    <update id="updateAllowedServer">
        UPDATE
            cfl_allowed_server
        SET
            svr_ip = #{server.serverIp}
            , tnnt_id = #{server.tenantId}
            , svr_nm = #{server.serverName}
            , svc_nm = #{server.serviceName}
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
            AND svr_ip = #{serverIp}
    </update>

    <delete id="deleteAllowedServer">
        DELETE FROM
            cfl_allowed_server
        WHERE
            svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
            AND svr_ip = #{serverIp}
    </delete>

    <select id="selectRegExpServerList" resultMap="Server">
        SELECT
            *
        FROM
            cfl_allowed_server
        WHERE
            svr_ip LIKE '^%'
            AND svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
    </select>
</mapper>
