<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfl.mapper.ServerMapper">

    <resultMap id="Server" type="Server">
        <id property="serverIp" column="svr_ip" />
        <result property="serverName" column="svr_nm"/>
        <result property="serviceName" column="svc_nm"/>
        <result property="portNumber" column="port_no"/>
    </resultMap>


    <insert id="insertAllowedServer">
        INSERT INTO
            cfl_allowed_server (svr_ip, svr_nm, svc_nm)
        VALUE
            (#{server.serverIp}
            , #{server.serverName}
            , #{server.serviceName})
    </insert>

    <update id="updateAllowedServer">
        UPDATE
            cfl_allowed_server
        SET
            svr_ip = #{server.serverIp}
            , svr_nm = #{server.serverName}
            , svc_nm = #{server.serviceName}
        WHERE
            svc_nm = #{server.serviceName}
            AND svr_ip = #{server.serverIp}
    </update>

    <delete id="deleteAllowedServer">
        DELETE FROM
            cfl_allowed_server
        WHERE
            svc_nm = #{server.serviceName}
            AND svr_ip = #{server.serverIp}
    </delete>

    <select id="selectAllowedServer" resultMap="Server">
        SELECT
            *
        FROM
            cfl_allowed_server
        WHERE
            svc_nm = #{server.serviceName}
            AND svr_ip = #{server.serverIp}
    </select>

    <insert id="insertProvideServer">
        INSERT INTO
            cfl_provide_server (svr_ip, svr_nm)
        VALUE
            (#{server.serverIp}
            , #{server.serverName})
    </insert>

    <select id="selectProvideServerByServerIp" resultMap="Server">
        SELECT
            *
        FROM
            cfl_provide_server
        WHERE
            svr_ip = #{server.serverIp}
            AND svc_nm = #{server.serviceName}
    </select>

    <select id="selectProvideServerByServiceName" resultMap="Server">
        SELECT
            *
        FROM
            cfl_provide_server
        WHERE
            svc_nm = #{serviceName}
    </select>

    <select id="selectRegExpServerList" resultMap="Server">
        SELECT
            *
        FROM
            cfl_allowed_server
        WHERE
            svr_ip LIKE '^%'
            AND svc_nm = #{serviceName}
    </select>
</mapper>
