<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.cfl.mapper.UserMapper">
    <select id="selectUser" resultType="User">
        SELECT
            *
        FROM
            cfl_user
        WHERE
            user_id = #{user.userId}
            AND svc_nm = #{serviceName}
            AND tnnt_id = #{tenantId}
    </select>

    <insert id="insertUser">
        INSERT INTO
            cfl_user (user_id, user_type, tnnt_id, user_seq, svc_nm)
        VALUE
            (#{userId}
            , #{userType}
            , #{tenantId}
            , #{userSequence}
            , #{serviceName})
    </insert>

    <update id="updateUser">
        UPDATE
            cfl_user
        SET
            user_id = #{user.userId}
            , user_type = #{user.userType}
            , tnnt_id = #{user.tenantId}
            , user_seq = #{user.userSequence}
            , svc_nm = #{user.serviceName}
    </update>

    <delete id="deleteUser">
        DELETE FROM
            cfl_user
        WHERE
            user_id = #{user.userId}
            AND svc_name = #{user.serviceName}
            AND tnnt_id = #{user.tenantId}
    </delete>
</mapper>

