<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfl.mapper.UserMapper">

    <resultMap id="User" type="User">
        <id property="userSequence" column="user_seq" />
        <result property="userId" column="user_id"/>
        <result property="userType" column="user_type"/>
        <result property="tenantId" column="tnnt_id"/>
        <result property="serviceName" column="svc_nm"/>
    </resultMap>

    <insert id="insertUser">
        INSERT INTO
            cfl_user (user_id, user_type, tnnt_id, user_seq, svc_nm)
        VALUE
            (#{user.userId}
            , #{user.userType}
            , #{user.tenantId}
            , #{user.userSequence}
            , #{user.serviceName})
    </insert>

    <update id="updateUser">
        UPDATE
            cfl_user
        SET
            user_id = #{user.userId}
            , user_type = #{user.userType}
            , tnnt_id = #{user.tenantId}
            , user_seq = #{user.userSequence}
            , svc_nm = #{user.serviceName}
        WHERE
            user_seq = #{user.userSequence}
    </update>

    <delete id="deleteUser">
        DELETE FROM
            cfl_user
        WHERE
            user_id = #{user.userId}
            AND svc_nm = #{user.serviceName}
            AND tnnt_id = #{user.tenantId}
    </delete>

    <select id="selectUser" resultMap="User">
        SELECT
            *
        FROM
            cfl_user
        WHERE
            user_id = #{user.userId}
            AND svc_nm = #{user.serviceName}
            AND tnnt_id = #{user.tenantId}
    </select>
</mapper>
